*,
*+*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
html {
    /* font-family: 'Rambla', sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #000000;
    scroll-behavior: smooth;
    overflow-x: hidden;

    height: 100vh;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(221, 221, 221);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(188, 188, 188);
    border-radius: 15px;
    width: 10px;
}


/* HEADER */

.header__container {
    max-width: 1822px;
    width: 100%;
    margin: 40px auto;
    padding: 0 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #336A19;
}

.header-links__list {
    display: flex;
    font-size: 18px;
}

.header-links__list li {
    margin-right: 50px;
}

.header-links__list li:last-child {
    margin-right: 0;
}

.header-icons__wrapper {
    display: flex;
}

.action-icon {
    max-width: 25px;
    width: 100%;
    height: 25px;
    margin-right: 50px;
    background-color: transparent;
}

.action-icons__wrapper {
    display: flex;
    align-items: center;
}

.action-icon:last-child {
    margin-right: 0;
}

#search-action__wrapper {
    display: none;
}

.search-input {
    display: inline-block;
    border: 2px solid #4D4C4C;
    padding: 10px 15px;
    font-size: 18px;
}

.search-button {
    background-color: #4D4C4C;
    color: #FFFFFF;
    font-size: 18px;
    padding: 12px 10px;
    margin-right: 20px;
}

/* .authorization {
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: #336A19;
    top: calc(100% - 29vw);
    left: calc(100% - 57vw);
    z-index: 1;
} */

.error-page__wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-page__title {
    font-size: 160px;
    margin-bottom: 30px;
}

.error-page__desc {
    font-size: 40px;
    margin-bottom: 30px;
}

.error-button {
    font-size: 35px !important;
    padding: 30px 50px !important;
}

/* MAIN */

.main {
    position: relative;
}

.main-info {
    margin-bottom: 125px;
}

.content__container {
    max-width: 1822px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.main-content__wrapper {
    padding: 139px 0 0 150px;
    margin-bottom: 259px;
}

.bg-img {
    position: absolute;
    max-width: 1822px;
    width: 100%;
    z-index: -1;
}

.section-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    margin-bottom: 26px;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-bottom: 26px;
}

.main-button {
    padding: 16px 46px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #4D4C4C;
}

.small-catalog {
    display: flex;
}

.small-catalog__item {
    margin-right: 74px;
    transition: .3s linear;
}

.small-catalog__item:hover {
    transform: scale(1.1);
    font-size: 20px;
    cursor: pointer;
}

.small-catalog__item:nth-child(2) {
    margin-right: 96px;
}

.small-catalog__item:last-child {
    margin-right: 0;
}

.item-name {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    margin: 30px 0 11px;
}

.item-description {
    font-weight: 500;
    line-height: 24px;
    color: #333333;
}


/* catalog */

.section-title__catalog {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 93px;
}

.catalog-cards__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 70px 36px;
}

.card a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Rambla', sans-serif;
    font-style: normal;
    transition: .3s linear;
}

.card a:hover {
    opacity: 1;
    filter: drop-shadow(20px 15px 5px rgba(0, 0, 0, 0.25));
}

.catalog-card__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #717171;
    margin: 20px 0;
}

.catalog-card__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.section-button__wrapper {
    display: flex;
}

#more__button {
    display: inline-block;
    letter-spacing: 4px;
    color: #FFFFFF;
    margin: 75px auto 118px;
    padding: 23px 110px;
}


.section-title__tips {
    margin-bottom: 130px;
    line-height: 53px;
}


.advice__container {
    max-width: 1622px;
    width: 100%;
    margin: 0 auto;
}

.separate-advice__left {
    transform: translateX(50%);
    transition: 1s linear all;
    opacity: 0;

    margin-bottom: 62px;
}

.separate-advice__right {
    transform: translateX(-50%);
    transition: 1s linear all;
    opacity: 0;

    margin-bottom: 62px;
}

.showAdvice {
    transform: translateX(0);
    opacity: 1;
}


.advice-text__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
}

.left {
    flex-direction: row-reverse;
}

.advice-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 167%;
    color: #000000;
    margin: 0 100px 0 85px;
}

.contacts {
    position: relative;
    margin-bottom: 60px;
}

.section-title__cotacts {
    margin: 125px 0 60px;
}

.contacts-content__wrapper {
    position: relative;
}

.contacts-info {
    position: absolute;
    top: 148px;
    left: 100px;
    padding: 70px 50px;
    background-color: #B7B7B7;
    width: 700px;
    transition: all .3s linear;
}

.contacts-info:hover {
    box-shadow: 21px 21px 63px #333;
}

.contacts-wrap {
    display: flex;
    align-items: center;
    margin-top: 55px;
}

.contants-text {
    font-size: 25px;
    line-height: 120%;
}

.contacts-icon {
    margin-right: 20px;
}

.contacts-logo {
    color: #000000;
}

/* footer */
.footer {
    position: relative;
    padding: 47px 70px 50px;
    color: #FFFFFF;

    margin: 100px 0 0 0;
}

.footer-bg {
    position: absolute;
    z-index: -1;
    background: #333434;
    width: 100vw;
    height: 100%;
    margin-left: calc(46% - 50vw);
    top: 0;
}

.footer-links {
    display: flex;
    margin-bottom: 193px;
    font-size: 20px;
}

.footer-link {
    margin-right: 50px;

}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    color: #FFFFFF;
    margin-bottom: 25px;
}

.footer-text {
    font-size: 20px;
    line-height: 125%;
}


.footer-info__right {
    display: flex;
}

.footer-email__input {
    padding: 28px 200px 28px 29px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

.footer-input-email::-webkit-input-placeholder {
    color: #FFFFFF;
}

.footer-input-email:-moz-placeholder {
    color: #FFFFFF;
}

.footer-input-email::-moz-placeholder {
    color: #FFFFFF;
}

.footer-button {
    background-color: #FFFFFF;
    color: #000000;
    padding: 25px 52px;
    font-size: 20px;
    line-height: 30px;
}

.iframe {
    min-width: 1822px;
    height: 800px;
}


@media (max-width: 1024px) {

    .header__container {
        margin: 20px auto;
    }

    .header-logo {
        font-size: 35px;
    }

    .header-links__list {
        font-size: 16px;
    }

    .header-icon {
        max-width: 20px;
        height: 20pxx;
    }

    .main-content__wrapper {
        padding: 78px 0 0 90px;
        margin-bottom: 90px;
    }

    .main-info {
        margin-bottom: 65px;
    }

    .section-title {
        font-weight: 600;
        font-size: 35px;
        line-height: 40px;
        color: #000000;
        margin-bottom: 10px;
    }

    .section-text {
        margin-bottom: 15px;
    }

    .main-button {
        font-size: 14px;
    }

    .small-catalog__item {
        margin-right: 20px;
    }

    .small-catalog__item:nth-child(2) {
        margin-right: 30px;
    }

    .item-name {
        font-size: 20px;
        margin: 20px 0 11px;
    }

    .item-description {
        font-size: 14px;
    }

    /* catalog */
    .section-title__catalog {
        margin-bottom: 40px;
    }

    .catalog-cards__wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
        gap: 35px 25px;
    }

    .card {
        max-width: 350px;
        width: 100%;
        height: 500px;
    }

    .card p {
        font-size: 16px;
    }

    .catalog-card__name {
        margin: 0;
    }

    .catalog-card__text {
        margin: 15px 0;
    }

    .media1024 {
        display: none;
    }

    #more__button {
        margin: 40px auto 75px;
        padding: 23px 110px;
    }

    .tips img {
        max-width: 500px;
    }

    .advice-text {
        font-size: 16px;
        margin: 0 50px 0 50px;
    }

    .advice-number {
        max-width: 70px !important;
        height: 100px;
    }

    .separate-advice__left {
        margin-bottom: 40px;
    }

    .separate-advice__right {
        margin-bottom: 40px;
    }

    .advice-text__wrapper {
        margin: 0;
    }

    .section-title__cotacts {
        margin: 15px 0 30px;
    }

    .iframe {
        min-width: 1024px;
        height: 600px;
    }

    .contacts-info {
        top: 120px;
        left: 60px;
        padding: 50px 30px;
        width: auto;
    }

    .contacts-logo {
        font-size: 25px;
    }

    .contacts-wrap {
        margin-top: 25px;
    }

    .contants-text {
        font-size: 16px;
        line-height: 120%;
    }

    .contacts-icon {
        max-width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .footer {
        font-size: 16px;
        padding: 37px 0 50px;
        margin-top: 45px;
    }

    .footer-bg {
        margin-left: calc(42% - 42vw);
    }

    .footer-links {
        display: flex;
        margin-bottom: 50px;
        font-size: 16px;
    }
    .footer-info {
        align-items: center;
    }
    .footer-info__right {
        height: 70px;
    }
    .footer-button {
        padding: 0px 20px;
    }

    .footer-email__input {
        padding: 0px 40px 2px 20px;
        font-size: 16px;
    }

    .footer-logo {
        font-size: 35px;
        margin-bottom: 15px;
    }

    .footer-text {
        font-size: 16px;
    }
}